:root {
    --main-color: #352BC0;
    --second-color: #F2D179;
    --light-color: white;
    --dark-color: #0B0B0B;
}

html{
  font-size: 18px;
  font-family: "JetBrains Mono",
    monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

header{
    width:100%;
    height:3rem;
    display:flex;
}

@media (prefers-color-scheme: dark){
p,h1,h2,a{
    color:var(--light-color);
}
}

@media (prefers-color-scheme: light) {

    p,
    h1,
    h2,
    a {
        color: var(--dark-color);
    }
}

nav{
    width: 50%;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

nav a{
    text-decoration-line: none;
    font-size:0.6rem;
}
