:root {
    --main-color: #352BC0;
    --second-color: #F2D179;
    --light-color: white;
    --dark-color: #0B0B0B;
}

html{
  font-size: 18px;
  font-family: "JetBrains Mono",
    monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.welcome-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moving-cross {
  transform-origin: center;
  position: absolute;
  z-index: -5;
  width: 40%;
  object-fit: cover;
}

#violet-cross-1 {
  top: 3%;
  left: -12%;
}

#violet-cross-2 {
  top: 20%;
  right: -12%;
}

.welcome-bloc{
    width:40%;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    row-gap:1.5rem;
}

.welcome-bloc h1{
    font-size:1.2rem;

}

.welcome-bloc span{
   font-size:2rem;
}

.button-type {
  width: 9rem;
  height: 2.1rem;
  border-radius: 8rem;
  font-size: 0.8rem;
}

.button-type-1 {
  background: none;
  border: solid 0.15rem var(--light-color);
  color: var(--light-color);
}

.button-type-2 {
  background: var(--main-color);
  border: solid 0.15rem var(--light-color);
  color: var(--light-color);
}

.button-type-3 {
  background: none;
  border: solid 0.15rem var(--second-color);
  color:var(--second-color);
}
